{% extends 'templates/default' %}

{% block content %}
<div class="min-h-screen h-full flex flex-col items-center justify-center">
  <div class="max-w-xl px-6 py-8 sm:py-12">
    <div class="h-12 sm:h-16">
      <a href="/">
        {% include 'includes/assets/logo' %}
      </a>
    </div>

    <div class="mt-8 text-lg space-y-4 text-gray-800">
      <p class="font-light text-xl sm:text-2xl mb-6">YelloHalo is a <strong>charity</strong> broadband provider that gives 100% of profits back to the Ambulance community.</p>

      <div class="mb-6 pb-2 -mx-6">
        <img class="max-w-full" src="{{ asset('/images/yh-016.jpg') }}" alt="">
      </div>

      <div>
        <a href="/signup" class="inline-flex w-full items-center justify-center font-medium rounded-full focus:outline-none select-none flex-shrink-0 transition ease-in-out duration-150 px-8 py-3 text-lg leading-5 bg-cyber-yellow-500 hover:bg-cyber-yellow-400 focus:bg-cyber-yellow-600 text-black">
          Sign Up
        </a>
      </div>

      <p>YelloHalo offers two things: a great broadband service and a great new way for Kiwis to support the front line ambos who save lives in our communities every day.</p>

      <p><strong>YelloHalo is changing the way Kiwis connect to broadband for good. But we need your help:</strong></p>

      <p>We want to give back $1 million to front line ambos in our first 12 months. But to do this we need to grow our family of YelloHalo customers to at least 20,000 homes across New Zealand. The more Kiwis that sign up, the more we will be able to give back to communities all over New Zealand.</p>

      <div class="pl-4 space-y-4">
        <p>If 20,000* Kiwis sign up to YelloHalo Ambos get <strong>$1,000,000+</strong></p>
        <p>If 30,000* Kiwis sign up to YelloHalo Ambos get <strong>$2,200,000+</strong></p>
        <p>If 45,000* Kiwis sign up to YelloHalo Ambos get <strong>$4,000,000+</strong></p>
        <p>If 95,000* Kiwis sign up to YelloHalo Ambos get <strong>$15,000,000+</strong></p>
        <p><small>*Estimated based on projected uptake at month 6 / 9 / 12 and month 24</small></p>
      </div>
      
      <p>YelloHalo will continue to support front line Ambos for years to come, but we need you to help make the difference. Sign up at YelloHalo.co.nz now to support those in your community who are there when we need them most.</p>

      <p><strong>Why do front line Ambos need my support?</strong></p>

      <p>Many ambos find it difficult to find or afford respite from their work, to take their families on a break, or to fund the increasing professional development and compliance requirements of the job.</p>

      <p>With your support, we can make sure that those who are always there to care when we need them, are cared for themselves.</p>

      <p><strong>Where does my money go?</strong></p>

      <p>All profits go to the YelloHalo Charitable Trust. On behalf of more than 1,200 front line Ambos, the trust will decide how to use these funds. The benefits for front line ambulance workers and their families could be anything from education or career advancement to subsidies for affordable holiday accommodation that front line Ambos and their families can enjoy during their time off.</p>

      <p>Other companies keep or distribute these profits to offshore investors and parent companies, but with YelloHalo they are going straight back into communities from the top of the North Island to the bottom of the South.</p>

      <p>
        <i>
          <small>100% of profits are gifted to the YelloHalo Ambos First Trust who administer trust funds on behalf of Ambulance Professionals First members in New Zealand.</small>
        </i>
      </p>
    </div>

    <div class="mt-8 space-x-4">
      <a href="/signup" class="inline-flex items-center justify-center font-medium rounded-full focus:outline-none select-none flex-shrink-0 transition ease-in-out duration-150 px-8 py-3 text-lg leading-5 bg-cyber-yellow-500 hover:bg-cyber-yellow-400 focus:bg-cyber-yellow-600 text-black">
        Sign Up
      </a>
      <a href="mailto:media@yellohalo.co.nz" class="inline-flex items-center justify-center font-medium rounded-full focus:outline-none select-none flex-shrink-0 transition ease-in-out duration-150 border-2 px-8 py-3 text-lg leading-5 bg-transparent border-cyber-yellow-500 hover:bg-cyber-yellow-400 hover:border-cyber-yellow-400 focus:bg-cyber-yellow-600 focus:border-cyber-yellow-600 text-black">
        Media
      </a>
    </div>

    {% include "includes/footer" %}
  </div>
</div>
{% endblock %}