{% extends 'templates/default' %}

{% block content %}
<div class="min-h-screen h-full flex flex-col items-center justify-center">
  <div class="h-16 sm:h-24 px-4">
    {% include 'includes/assets/logo' %}
  </div>
  <p class="mt-8 text-3xl tracking-tight font-medium text-gray-800">Coming December 2020</p>
  <p class="text-gray-600">More information coming soon</p>

  {% include "includes/footer" %}
  {# <div class="mt-6">
    <a href="#" class="inline-flex items-center justify-center font-medium rounded-full focus:outline-none select-none flex-shrink-0 transition ease-in-out duration-150 px-8 py-3 text-lg leading-5 bg-cyber-yellow-500 hover:bg-cyber-yellow-400 focus:bg-cyber-yellow-600 text-black">
      Sign Up
    </a>
  </div> #}
</div>
{% endblock %}
